<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()

  function handleKeyup(e) {
    if (e.key === "Enter") {
      e.preventDefault()    
      dispatch('added', e.srcElement.value)
      e.srcElement.value = ""
    }
  }
</script>

<input type="text" on:keyup={handleKeyup} placeholder="Add a new todo, tag with #foo and #bar and press ENTER">

<style>
  input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid var(--gray-300);
    border-radius: 0.15rem;
    font-size: 1rem;
    color: var(--gray-800);
    background: var(--gray-50);
  }
</style>