<script>
	import time from '../time'
	import { createEventDispatcher } from 'svelte'
	const dispatch = createEventDispatcher()

	export let note = {}

	function toggle(e) {
		dispatch('toggle', note)
	}

	function filterByTag(e) {
		e.preventDefault()
		console.log(e.srcElement.dataset)
		const tag = e.srcElement.dataset.tag
		dispatch('filter', tag)
	}

	function noteTime(note) {
		console.log(note)
		if (note.done) {
			return time(note.done)
		} else if(note.created) {
			return time(note.created)
		}
	}
</script>

<article class="note flex" class:done={note.done} class:todo={!note.done}>
	<div class="title" on:click={toggle}>
		{note.title}
	</div>

	<div>{noteTime(note)}</div>
	<aside class="tags">
		{#each note.tags as tag}
			<a href={`/tag/${tag}`} data-tag={tag} on:click={filterByTag}>#{tag}</a>
		{/each}
	</aside>
</article>

<style>
	article.note {
		display: flex;
		gap: 0.5rem;

		color: var(--gray-800);
		padding: 0.5rem;
		background: var(--gray-50);
		border: 1px solid var(--gray-300);
    border-radius: 0.15rem;

    margin-bottom: 0.25rem;
	}

	article.done {
  	text-decoration: line-through;
  	background: var(--gray-200);
  	color: var(--gray-500);
  }

  article a {
  	color: var(--gray-700);
  	transition: 0.1s ease-in all;
  }

  article a:hover {
  	color: var(--gray-500);
  }

  article.done a {
  	color: var(--gray-500);
  }

	.tags {
		display: flex;
		gap: 0.5rem;
	}

	.tags:empty {
		display: none;
	}

	.title {
		flex: 1;
		cursor: pointer;
		font-size: 1rem;
	}
</style>